@model Shop.Data.ViewModels.Common.ChangePasswordViewModel

@{
    Layout = null;
}

<h4 class="text-center">تغییر کلمه عبور</h4>
<hr />
<form action="/Panel/Dashboard/ChangePassword" method="post">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger validation-error"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label"></label>
        <input asp-for="OldPassword" class="form-control" placeholder="کلمه عبور فعلی" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" placeholder="کلمه عبور جدید" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="تأیید کلمه عبور جدید" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="ثبت" class="btn btn-success btn-block" />
    </div>
</form>