@model Shop.Data.ViewModels.Admin.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-4 col-md-4 col-sm-6 col-10">
    <h1 class="text-center">تغییر کلمه عبور</h1>

    <hr />
    <form action="/Admin/Profile/ChangePassword" method="post">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="ModelOnly" class="text-danger validation-error"></div>

        @if (ViewBag.ChangeSuccess != null && ViewBag.ChangeSuccess)
        {
            <div class="form-group">
                <div class="alert alert-success text-center">
                    <h4 class="text-center">
                        کلمه عبور با موفقیت تغییر کرد
                    </h4>
                </div>
            </div>
        }

        <div class="form-group">
            <label asp-for="OldPassword" class="control-label"></label>
            <input asp-for="OldPassword" class="form-control" placeholder="کلمه عبور فعلی" />
            <span asp-validation-for="OldPassword" class="text-danger validation-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" placeholder="کلمه عبور جدید" />
            <span asp-validation-for="Password" class="text-danger validation-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="تأیید کلمه عبور جدید" />
            <span asp-validation-for="ConfirmPassword" class="text-danger validation-error"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="ثبت" class="btn btn-success btn-block" />
        </div>
    </form>
</div>

