
@{
    ViewData["Title"] = "فعالسازی";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="wrap-account-pic col-lg-6 col-md-6 hidden-sm hidden-xs" style="background-image: url(/images/site/Activate.png)"></div>

<div class="account-form col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <span class="account-form-title">
        فعالسازی حساب کاربری
    </span>

    @if (ViewBag.SuccessActivate != null && ViewBag.SuccessActivate)
    {
        <div class="alert alert-success text-center">
            <h5 class="text-center">
                <span>حساب کاربری شما با موفقیت فعال شد</span>
                <br />
                <span>برای ورود به حساب کاربری، روی لینک زیر کلیک کنید</span>
            </h5>
        </div>
    }

    <br />
    <a href="/Login" class="btn btn-block btn-xs btn-primary">ورود به حساب کاربری</a>
    <br />
    <a href="/" class="btn btn-block btn-xs btn-primary">بازگشت به صفحه اصلی</a>
</div>

