@model Shop.Data.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "عضویت";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="wrap-account-pic col-lg-6 col-md-6 hidden-sm hidden-xs" style="background-image: url(/images/site/Register.png)"></div>

<div class="account-form col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <span class="account-form-title">
        فرم عضویت
    </span>

    @if (ViewBag.SuccessRegister != null && ViewBag.SuccessRegister)
    {
        <div class="alert alert-success text-center">
            <h5 class="text-center">
                <span>ثبت نام شما با موفقیت انجام شد</span>
                <br />
                <span>برای تکمیل فرایند ثبت نام، روی لینک ارسال شده به ایمیلتان کلیک کنید</span>
            </h5>
        </div>
    }

    <form asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="wrap-input-account">
            <input asp-for="FullName" class="form-control" placeholder="نام و نام خانوادگی" />
            <span class="focus-account"></span>
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="wrap-input-account">
            <input asp-for="Email" class="form-control" placeholder="ایمیل" />
            <span class="focus-account"></span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="wrap-input-account">
            <input asp-for="Password" class="form-control" placeholder="کلمه عبور" />
            <span class="focus-account"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="wrap-input-account">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="تأیید کلمه عبور" />
            <span class="focus-account"></span>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="container-button">
            <button type="submit" class="account-button">
                ثبت نام
            </button>
        </div>
    </form>
    <br />
    <a href="/Login" class="btn btn-block btn-xs btn-primary">قبلا ثبت نام کرده ام</a>
    <br />
    <a href="/" class="btn btn-block btn-xs btn-primary">بازگشت به صفحه اصلی</a>
</div>